.pills-primary .nav-link.active, .pills-primary .show>.nav-link, .tabs-primary {
	background-color: $white !important;
}
.classic-tabs .nav.tabs-primary li a.active {
	border-color: $gold !important;
}
.classic-tabs .nav.tabs-primary li a {
	color: $dark;
}
#blogcontent img {
	width: 100% !important;
	max-width: 100% !important;
	height: auto !important;
	margin: 1rem auto;
}
ul.pagination {
	li.page-item + li.disabled {
		display: none;
	}
}