.carousel-caption{
	p {
		text-shadow: 0 2px 3px rgba(0,0,0,0.7);
		font-size: 1.1rem;
	}
	h2 {
		text-shadow: 0 2px 3px rgba(0,0,0,0.7);
	}
	p a {
		text-shadow: none;
	}
}
img+.overlay {
	position: absolute;
	overflow: hidden;
	color: $white;
	margin: 1rem;
	padding: 1rem;
	//border: 1px solid rgba(240, 240, 240, 0.6);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	.overlay-text {
		//position: absolute;
		bottom: 0;
		overflow-y: auto;
		overflow-x: hidden;
		p {
			text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
		}
		h2 {
			display: inline;
			text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
		}
	}
}
.dark-panel {
	position: relative;
	background-color: $dark;
	@include topborder($gold);
	z-index: 900;
	color: $white;
	margin: -1.5rem 1rem 1rem 1rem;
	p {
		color: $white;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	/*h2:first-line {
		font-size: 1.1rem !important;
		font-weight: bold;
	}*/
	h2 {
		color: $white;
		padding-left: 1rem;
		padding-right: 1rem;
		font-weight: bold !important;
		font-size: 1.1rem !important;
	}
	.btn {
		margin-bottom: .5rem;
	}
}
.dark-panel2 {
	//position: relative;
	background-color: $dark;
	@include topborder($gold);
	z-index: 900;
	color: $white;
	margin: 0;
	//height: 200px;
	width: 100%;
	p {
		color: $white;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	/*h2:first-line {
		font-size: 1.1rem !important;
		font-weight: bold;
	}*/
	h2 {
		color: $white;
		padding-left: 1rem;
		padding-right: 1rem;
		font-weight: bold !important;
		font-size: 1.1rem !important;
	}
	.btn {
		margin-bottom: .5rem;
	}
}
img.fullwidth-img {
	min-width: 100%;
}
.bg-subscribe {
	background-image: url(/media/bg/transparent/subscribe4_20.png);
	background-position: center center;
}