@font-face {
	font-family: 'icomoon';
	src: url('webfonts/icomoon.eot?p2czqw');
	src: url('webfonts/icomoon.eot?p2czqw#iefix') format('embedded-opentype'),
		 url('webfonts/icomoon.ttf?p2czqw') format('truetype'),
		 url('webfonts/icomoon.woff?p2czqw') format('woff'),
		 url('webfonts/icomoon.svg?p2czqw#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon' !important;
	font-size: 1rem;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-perspective: 1000;
}
.icon-teli-lalak:before {
	content: "\41";
}
.icon-teli-ualak:before {
content: "\42";
}
.icon-teli-egyenes:before {
content: "\43";
}
.icon-teli-fotel:before {
content: "\44";
}
.icon-teli-puff:before {
content: "\45";
}
.icon-teli-asztal:before {
content: "\46";
}
.icon-teli-agy:before {
content: "\47";
}
.icon-teli-lampa:before {
content: "\48";
}
.icon-teli-eloszoba:before {
content: "\49";
}
.icon-teli-matrac:before {
content: "\4a";
}
.icon-sadcart:before {
content: "\31";
}
.icon-logo:before {
content: "\32";
}
.icon-vamosi:before {
content: "\33";
}
.icon-vonal-lalak:before {
content: "\61";
}
.icon-vonal-ualak:before {
content: "\62";
}
.icon-vonal-egyenes:before {
content: "\63";
}
.icon-vonal-fotel:before {
content: "\64";
}
.icon-vonal-puff:before {
content: "\65";
}
.icon-vonal-asztal:before {
content: "\66";
}
.icon-vonal-agy:before {
content: "\67";
}
.icon-vonal-lampa:before {
content: "\68";
}
.icon-vonal-eloszoba:before {
content: "\69";
}
.icon-vonal-matrac:before {
content: "\6a";
}
.sofont-small.sofont-inline {
	font-size: 40px;
	line-height: 40px;
	display: inline-block;
	float: left;
	height: 40px;
}
.sofont-small {
	font-size: 40px;
	line-height: .5em;
}
.sofont-medium {
	font-size: 60px;
	line-height: .5em;
}
.sofont-large {
	font-size: 80px;
	line-height: .5em;
}
.sofont-huge {
	font-size: 200px;
	line-height: .5em;
}
.sofont-small.sofont-inline + .span-label {
	font-size: 1rem;
	line-height: 40px !important;
	height: 40px;
	display: inline-block;
	float: left;
	margin-left: .7rem;

}