@mixin typo_base($color) {
	color: $color;
	//font-family: "Open Sans", Arial, Helvetica Neue, sans-serif;
	font-family: "Roboto", sans-serif !important;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	font-size: 14px;
}
@mixin topborder($color) {
	border: 0px solid $white;
	border-top: 6px solid $color;
}
@mixin bordercolor($color, $size) {
	border: solid $size $color;
}
@mixin width() {
	max-width: 1170px;
}