.product-form .form-check {
	padding-left: 0px;
}
.product-form label,
.othersize-toggle {
	border-bottom: $lightgrey 1px solid;
}
.product-form label.active,
.product-form label:hover,
.othersize-toggle:hover {
	background-color: $lightgrey;
}
.h {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
td .h {
	margin-right: calc(100% - 1rem) !important;
}
.aside {
	background-image: url("/images/side_a.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.bside {
	background-image: url("/images/side_b.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.cside {
	background-image: url("/images/side_c.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.old-price,
.old.price {
	color: $darkgrey;
}
.original-price {
	color: $grey;
	font-size: 1.1em;
	text-decoration: line-through;
	font-style: italic;
}
.price,
.advanced-price {
	color: $gold;
}
.sizelabel {
	color: $elegant !important;
}
.sizelabel .price,
.sizelabel .original-price {
	color: $elegant;
	font-size: 1em;
	font-weight: normal;
}
.sizelabel.active .price,
.sizelabel.active .original-price,
.sizelabel.active {
	//color: $white !important;
}
.sizelabel.active,
.form-check-label.active,
.related:checked+label {
	font-weight: bold;
}
#sprung {
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-top: 0px;
}
.item-normal img {
	@include bordercolor($lightgrey, 0.1em);
}
.item-highlighted img {
	@include bordercolor($gold, 0.3em);
	background-color: $gold;
}
.page-title {
	color: $elegant;
	//background-color: red;
}
.extra-price:before {
	background: url(../images/extra_price.png) no-repeat right top;
	width: 17px;
	height: 17px;
	position: absolute;
	top: calc(0.5em + 1px);
	right: calc(0.5em + 1px);
	z-index: 1;
	content: " ";
}
.mixedsizes.active {
	background-color: $gold;
	color: $white;
}
.textilepicker {
	background: $lightgrey;
	width: calc(100% - 1em);
	height: 42px;
	padding: 0px;
	margin: 0.5em;
	@include bordercolor($grey, 1px); 
}
.tp-down {
	border-top: 1px solid $grey;
	height: 21px;
}
.textilepix {
	display: block;
	width: 100%;
	height: 20px;
}
.noverflow {
	overflow-x: hidden !important;
}
.noverflow.fb_iframe_widget {
	max-width: 100% !important;
	overflow: hidden;
}
.textile_preview {
	padding: 2em;
}
label.img-label {
	width:100%;
	height: 50px;
	cursor: pointer;
}
