.card-product {
	-webkit-transition: all .35s ease-in-out;
	transition: all .35s ease-in-out;
}
.card-product .card-footer {
	background-color: transparent;
}
.card-product:hover {
	-webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)!important;
	box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)!important;
}
.filter-area {
	background-color: $lightgrey;
}
.textile-circle {
	height: 18px;
	width: 18px;
	display: inline-block;
	border: 1px solid #E6E6E6;
	margin: 3px;
	cursor: pointer;
}
.textile-circle:hover {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.textile-circle img {
	padding: 0;
	margin: 0;
	position: relative;
	display: block;

}
.textile-circle-top {
	border-radius: 8px 0 0 8px;
	width: 8px;
	height: 16px;
	top: 0;
	left: 0;
}
.textile-circle-bottom {
	border-radius: 0 8px 8px 0;
	width: 8px;
	height: 16px;
	top: -16px;
	left: 8px;
}
.textile-circle-full {
	border-radius: 16px;
	width: 16px;
	height: 16px;
}
.highlighted-product {
	border-color: $gold;
}
.product-item-info h2 a {
	color: $grey;
}
.card-body h2:hover a {
	text-decoration: none !important;
}
.highlighted-product h2 a {
	color: $gold;
}
.floating-badge {
	position: absolute;
	top: 1rem;
	right: 1rem;
	max-width: 50px;
	font-size: .9rem;
}
.em2 {
	min-height: 2em !important;
}
.flag {
	position: absolute;
	top: 0px;
	left: 1rem;
	padding: .6rem .5rem;
	background: $gold;
	color: $white;
}