/*!
 * Font Awesome Pro 5.5.0 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Commercial License)
 */@font-face{font-family:'Font Awesome 5 Brands';font-style:normal;font-weight:normal;src:url("/css2/webfonts/fa-brands-400.eot");src:url("/css2/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"),url("/css2/webfonts/fa-brands-400.woff2") format("woff2"),url("/css2/webfonts/fa-brands-400.woff") format("woff"),url("/css2/webfonts/fa-brands-400.ttf") format("truetype"),url("/css2/webfonts/fa-brands-400.svg#fontawesome") format("svg")}.fab{font-family:'Font Awesome 5 Brands'}
